.true{
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
    width: 10rem;
    font-size: 25px;
    margin-bottom: 1rem;
    
}
.false{
background-color: red;
color: black;
font-size: 23px;
border: none;
width: 10rem;
border-radius: 5px;
}